.manage-header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.add-user {

}

.manage-content {
  width: 100%;
  min-height: 638px;
  height: calc(100vh - 130px);
}

/deep/.el-dialog {
}
